<%= render 'layouts/header' %>

<div class="main-policy-container">
	<div class="main-policy">
		<h1>Propiedad del sitio web</h1>

		<p>La utilización de este sitio web, así como de cualquiera de sus servicios implica la lectura, comprensión y aceptación de la presente Política de Privacidad por parte del usuario.</p>

		<p>Los desarrolladores de Zytrip, responsables del sitio web, en adelante RESPONSABLE, ponen a disposición de los usuarios el presente documento, con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSICE), así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de uso.</p>

		<p>Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observación y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra disposición legal que fuera de aplicación.</p>

		<p>Los desarrolladores de Zytrip se reservan el derecho de modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en la aplicación web Zytrip.</p>

		<h3>Datos identificativos</h3>

		<ul>
	      	<li><strong>Responsable del sitio web: </strong>Desarrolladores de Zytrip</li>
	      	<li><strong>Email: </strong>miguel.manzanom@estudiante.uam.es</li>
	      	<li><strong>Teléfono: </strong>653209970</li>
	    </ul>

	    <h3>Política de Privacidad</h3>

	    <p>En esta Política de Privacidad se indican cuáles son las prácticas relacionadas con la información del sitio web Zytrip, desde el tipo de información sobre nuestros usuarios del sitio web que se recopila y de la que podríamos hacer un seguimiento, hasta cómo se utiliza la información personal que recibimos sobre el usuario a través de nuestro formulario de contacto web.</p>

	    <h3>¿Cómo obtenemos sus datos personales y qué información podemos obtener sobre el usuario? </h3>

	    <p> Los datos de carácter personal del usuarios son recogidos a través del formulario de registro en el sitio web, cumplimentado voluntariamente por el usuario. En este formulario, se le solicita al usuario los siguientes datos de carácter personal: Nombre, Apellidos y un Correo Electrónico, además de un número de teléfono opcional.</p>

	    <p> Más allá de esta información, el usuario, una vez registrado podrá publicar sus propias experencias y comentarios en los viajes de otros usuarios.</p>

	    <h3> ¿Cómo utilizaremos los datos proporcionados en adelante por el usuario?</h3>

	    <p> Nosotros guardamos esta información referente a las valoraciones y viajes realizados con el único propósito de poder ofrecer al usuario un mejor abanico de recomendaciones según la propia información proporcionada por el mismo usuario.</p>

	    <p> Como hemos mencionado anteriormente, se le solicitará al usuario un correo y un número de teléfono opcional cuando se registre. Esta información será únicamente usada por los propios usuarios para conectar(si lo desean) entre ellos, como resultado de las recomendaciones obtenidas a través del portal de usuarios del sitio web.</p>

	    <p> A su vez, Zytrip dispone de un formulario para valorar el sitio web donde los usuarios podrán dejar su opinión y posibles valoraciones. El equipo de desarrollo de Zytrip utilizará esta información con el único fin de estudiar la retroalimentación de los usuarios para conseguir desarrollar mejores versiones futuras y de esta forma optimizar la fase de mantenimiento del sitio web.</p>

	    <h3>Protección de datos</h3>

	    <p>La empresa o responsable tratará automatizadamente estos datos y aplicará las correspondientes medidas de seguridad, todo ello en cumplimiento del RGPD, LOPDGDD y LSSI. El Usuario puede acceder a la política seguida en el tratamiento de los datos personales, así como el establecimiento de las finalidades previamente establecidas, en las condiciones definidas en esta misma Política de Privacidad.</p>

	    <h3>Modificaciones a la presente información de protección de datos</h3>

		<p>Revisaremos y actualizaremos la información de protección de datos cuando se produzcan modificaciones en la legislación o en alguno de los procedimientos de tratamiento de su información personal.</p>
		<p>Esta información de protección de datos fue revisada y actualizada por última vez en agosto 2022.</p>
	</div>
</div>

<%= render 'layouts/footer' %>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>