<div class="row">
  <div class="col-md-12 mb-3">
    <label class="create-edit-trip-form-label">¿Cómo valorarías tu experiencia en dicho viaje?</label>
    <%= text_field_tag :rating, params[:rating], class:"create-review-trip-form-input-short", autofocus: true, required: true %>
    
  </div>
</div>

