/**********************************************
 * Admin interface styles
**********************************************/

/* -----------------------------------------*/
/* sidebar menu                             */
/* -----------------------------------------*/

.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #0f063f;
  overflow-y: auto;
  padding-bottom: 20px;
}

.sidebar hr{
  margin-left: 10px;
  margin-right: 10px;
  border: 1px;
  width: 90%;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sidebar i{
  font-size:24px;
}

.sidebar-title-container{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-title{
  color: white;
  font-size: 35px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.sidebar-title:hover{
  color: white;
  text-decoration: none;
}

.sidebar-menu{
  margin-top: 20px;
  color: white;
  margin-bottom: 30px;
}

.sidebar-section-title{
  color: grey;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.sidebar-list{
  list-style-position: inside;
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.sidebar-list li:hover{
  background-color: #080323;
}

.sidebar-footer{
  color: white;
  margin-top: 30px;
  margin-left: 50px;
}

.sidebar-nav-link{
  color: white;
  text-decoration: none;
}

.sidebar-nav-link:hover{
  color: white;
  text-decoration: none;
}

.sidebar-item{
  margin-top: 20px;
  /*margin-left: 10%;*/
  font-size: 18px;
  text-align: center;
}

.sidebar-nav-opt{
  text-decoration: none;
  cursor: pointer;
}

/* -----------------------------------------*/
/* Main container                           */
/* -----------------------------------------*/

.admin-main { 
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 3%;
}

.admin-delete {
  color: red;
}

.admin-delete-button{
  background-color: white;
  border: none;
}

.admin-new-panel{
  margin-top: 3%;
  border-collapse: collapse;
  font-size: 0.9em;
  background-color: #7239fb;
  color: #6e9bd5;
  padding: 12px 15px;
  margin-bottom: 1%;
}

.admin-new-element{
  text-align: center;
}

.admin-search-bar-container{
  background-color: lightpurple;
}

.admin-search-bar{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #6e9bd5;
  outline: none;
  width: 90%;
  border-radius: 5px 0 0 5px;
}

.admin-search-bar:focus{
  color: #6e9bd5;
}

.admin-search-button{
  color: #fff;
  border: 1px solid #6e9bd5;
  background: #6e9bd5;
  cursor: pointer;
}

.import-form-btn{
  height: 40px;
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  background-color: #6e9bd5;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 10px;
}

.import-form-btn-link{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.import-form-btn-link:hover{
  color: #fff;
}

.import-form-submit-btn{
  height: 40px;
  color: #fff;
  font-size: 15px;
  background: #6e9bd5;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
}

/**********************************************
 * Admin interface styles
**********************************************/

.admin-model-title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.admin-model-table{
  margin-top: 1%;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  text-align: center;
}

.admin-model-table thead tr{
  background-color: #c4d6ed;
  color: #6e9bd5;
  text-align: center;
}

.admin-model-table th, td{
  padding: 12px 15px;
  text-align: center;
}

.admin-model-table img{
  width: 30px;
  height: 30px;
  border-radius: 25%;
  margin-right: 20px;
  overflow: hidden;
}

.admin-model-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* -----------------------------------------*/
/* Admin users                              */
/* -----------------------------------------*/

.users-admin-icon{
  color: red;
}

.users-user-icon{
  color: blue;
}

.users-new-icon{
  color: green;
}

/* -----------------------------------------*/
/* Create and edit forms                    */
/* -----------------------------------------*/

.create-edit-styled-box{
  position: absolute;
  top: 25%;
  left: 35%;
  padding: 40px 40px;
  margin-top:10px;
  border: 4px solid #0b0331; 
  background-color: rgba(249, 249, 249, 0.5);
  border-radius: 25px;
}

.create-edit-form-label{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.create-edit-form-input{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
}

.create-edit-form-checkbox{
  margin-bottom: 20px;
  background: transparent;
  background-color: #eee;
  margin-left: 20px;
}

.create-edit-header{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.actions-btns{
  margin-top: 20px;
}

.create-edit-form-submit-btn{
  height: 40px;
  color: #fff;
  font-size: 15px;
  background: blue;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
}

.create-edit-form-cancel-btn{
  height: 40px;
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  background-color: grey;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
}

.create-edit-form-cancel-link{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.create-edit-form-cancel-link:hover{
  color: #fff;
}

/* -----------------------------------------*/
/* Testing styles                           */
/* -----------------------------------------*/

.main-testing-container{
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 3%;
}

.main-testing-title{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  background-color: #86bdea;
}

.main-testing-body{
  margin-top: 5%;
}

.testing-container{
  border: 1px solid #86bdea;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
  padding-bottom: 5%;
  overflow-x: auto;
  margin-bottom: 5%;
  background-color: #fafafa;
}

.testing-container-title{
  color: #86bdea;
  font-weight: bold;
  padding-right: 1%;
  text-align: center;
}

.testing-container hr{
  border: 1px;
  width: 100%;
  color: #86bdea;
}

.testing-container-results{
  margin-top: 2%;
}

.testing-container-step{
  color: #86bdea;
  font-weight: bold;
}

.testing-table{
  margin-top: 2%;
  margin-left: 5%;
  width: 30%;
  border-collapse: collapse;
  margin-bottom: 3%;
  text-align: center;
}

.testing-table thead tr{
  background-color: #c4d6ed;
  color: #6e9bd5;
  text-align: center;
}

.testing-table th, td{
  padding: 12px 15px;
  text-align: center;
}

.testing-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.testing-btn{
  background-color: #F5F4F5;
  border-radius: 5px;
  border:  1px solid #000;
  outline: none;
  text-align: center;
  width: 200px;
}

.testing-btn-link{
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.testing-btn-link:hover{
  color: #000;
}

/* -----------------------------------------*/
/* Dashboard styles                         */
/* -----------------------------------------*/

.main-dashboard-container{
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 3%;
}

.main-dashboard-title{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  background-color: #7239fb;
}

.main-dashboard-body{
  padding-top: 30px;
  margin-top: 1%;
  border: 1px solid #7239fb;
  border-radius: 5px;
  padding-bottom: 30px;
  background-color: #fafafa;
  margin-bottom: 50px;
}

.dashboard-main-statistics-container{
  marign-top: 30px;
  border: 1px solid lightgrey;
  background-color: white;
}

.dashboard-main-statistics-square{
  border-radius: 1px;
  border-right: 1px solid lightgrey;
}

.dashboard-main-statistics-title{
  font-size: 20px;
  color: #7239fb;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.dashboard-main-statistics-stat{
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.dashboards-surveys-container{
  margin-top: 30px;
  margin-left: 30px;
}

.dashboards-surveys-container hr{
  border: 1px solid #baa0f7;
  width: 30%;
  margin-top: 0px;
}

.dashboards-surveys-title{
  font-size: 18px;
  margin-bottom: 0px;
  color: #7239fb;
}

.dashboards-surveys-list{
  list-style-position: inside;
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.dashboards-surveys-item{
  margin-top: 20px;
  font-size: 16px;
  text-decoration: none;
}

.dashboards-surveys-item-step{
  color: #7239fb;
  margin-right: 5px;
}

.progress {
  border: 1px solid #7239fb;
  width: 400px;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
}

.progress-bar{
  background-image: linear-gradient(#7239fb, #7239fb);
}

.user-surveys-container{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: white;
  border: 1px solid lightgrey;
  padding-top: 20px;
  height: 250px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.user-survey-selected-option-btn{
  margin-top: 10px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  background-color: #7239fb;
  border-radius: 1px;
  border-right: 1px solid #fff;
  outline: none;
  cursor: pointer;
}

.user-survey-option-btn{
  margin-top: 10px;
  height: 40px;
  color: #000;
  font-size: 15px;
  padding-top: 10px;
  background-color: #eeeded;
  border-radius: 1px;
  border-right: 2px solid #fff;
  outline: none;
  cursor: pointer;
}

.user-survey-btn-text{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
  
.user-survey{
  margin-top: 15px;
}

.user-survey img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 25%;
  overflow: hidden;
  margin-left: 20px;
}

.user-survey-stars{
  margin-left: 20px;
}

.user-survey-date{
  color: lightgrey;
  margin-left: 50px;
}

.user-survey-comment-container{
  margin-right: 10%;
  margin-left: 20px;
}

