/**********************************************
 * Darkmode styles
**********************************************/

/**********************************************
 * Landing styles
**********************************************/

.main-landing-dark{
  background-color: #1c2c3f;
  padding-bottom: 100px;
  color: white;
}

.landing-results-info-text-dark{
  flex: 1 1 auto;
  margin-left: 12%;
}

.landing-results-info-text-dark h2{
  color: #d8a64c;
}

.landing-results-info-btn-dark{
  flex: 0 0 auto;
  margin-right: 12%;
  background-color: #000;
  border-radius: 3px;
  border:  1px solid white;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-results-info-btn-dark:hover{
  background-color: #464444;
}

.landing-results-info-btn-link-dark{
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.landing-results-info-btn-link-dark:hover{
  color: white;
}

.landing-results-recomendations-box-dark{
  border:  1px solid lightgrey;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 5%;
  background-color: #323232;
}

.landing-results-recomendations-box-dark img{
  height: 250px;
  width:  100%;
  padding-top: 10px;
}

.landing-results-recomendations-box-dark hr{
  border: 1px solid lightgrey;
}

.landing-results-users-recomendations-box-dark{
  border:  1px solid lightgrey;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 5%;
  background-color: #323232;
  padding-bottom: 20px;
}

.landing-results-users-recomendations-box-dark img{
  margin-top: 30px;
  padding-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.landing-results-users-recomendations-box-dark hr{
  border: 1px solid lightgrey;
}

.result-info-user-dark{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.result-info-user-dark:hover{
  color: #fff;
}

.landing-form-section-dark{
  background-color: #323232;
  margin-top: 150px;
  float: right;
  margin-right: 50px;
  height: 250px;
  width: 600px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
}

.landing-form-info-btn-dark{
  float: right;
  background-color: #000;
  border-radius: 5px;
  border:  1px solid #fff;
  outline: none;
  margin-right: 15px;
  margin-top: 15px;
}

.landing-form-info-btn-dark:hover{
  background-color: #504a4a;
}

.landing-form-info-btn-link-dark{
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-form-info-btn-link-dark:hover{
  color: white;
}

.landing-user-survey-description-container-dark{
  margin-top: 30px;
  margin-left: 20px;
  height: 210px;
  background-color: #4d445f;
  color: white;
  margin-right: 100px;
}

.landing-user-survey-title-dark{
  font-size: 30px;
  font-weight: bold;
  padding-top: 1%;
  padding-left: 3%;
  color: #7239fb;
  -webkit-text-stroke: 1px #fff;
}

.landing-user-survey-btn-dark{
  float: right;
  background-color: #7239fb;
  border-radius: 5px;
  border:  1px solid #fff;
  outline: none;
  margin-right: 15px;
  margin-top: 0px;
}

.landing-user-survey-btn-dark:hover{
  background-color: #9066f5;
}

.landing-user-survey-form-description-container-dark{
  margin-top: 30px;
  margin-left: 30px;
  background-color: #4d445f;
  color: white;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.landing-user-survey-form-title-dark{
  font-size: 30px;
  font-weight: bold;
  padding-top: 1%;
  text-align: center;
  color: #7239fb;
  -webkit-text-stroke: 1px #fff;
}

.landing-user-survey-form-description-container-dark hr{
  border: 1px solid #7239fb;
  width: 90%;
  margin-left: 5%;
}

.landing-user-survey-form-submit-btn-dark{
  background-color: #7239fb;
  border-radius: 5px;
  border:  1px solid #fff;
  outline: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}

.landing-user-survey-form-submit-btn-dark:hover{
  background-color: #9066f5;
}

.landing-user-trip-description-container-dark{
  margin-top: 30px;
  margin-left: 100px;
  height: 210px;
  background-color: #425842;
  color: white;
  margin-right: 50px;
}

.landing-user-trip-title-dark{
  font-size: 30px;
  font-weight: bold;
  padding-top: 1%;
  padding-left: 3%;
  color: #7dd956;
  -webkit-text-stroke: 1px #fff;
}

.landing-user-trip-btn-dark{
  float: right;
  background-color: #91fb63;
  border-radius: 5px;
  border:  1px solid #fff;
  outline: none;
  margin-right: 15px;
  margin-top: 0px;
}

.landing-user-trip-btn-dark:hover{
  background-color: #a6e38d;
}

/**********************************************
 * Trips Index styles
**********************************************/
.trips-sidebar-container-dark{
  background-color: #323232;
  width: 350px;
  border-radius: 5px;
  margin-top: 0%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  color: white;
}

.trips-sidebar-container-dark hr{
  border: 1px solid lightgrey;
  width: 100%;
}

.trips-title-help-container-dark{
  background-color: #323232;
  margin-top: 50px;
  float: right;
  margin-right: 35%;
  height: 100px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}

.trips-results-box-dark{
  border:  1px solid lightgrey;
  border-radius: 5px;
  background-color: #323232;
}

.trips-results-box-dark img{
  height: 200px;
  width:  200px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.trips-results-box-title-dark{
  font-size: 22px;
  padding-top: 20px;
  font-family: arial;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.trips-results-box-title-dark:hover{
  color: #fff;
}

.trips-destination-search-dark{
  background-color: #de2a35;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  height: 40px;
  text-align: center;
  color: white;
}

.trips-destination-search-dark:hover{
  background-color: #e5535c;
}

/**********************************************
 * Trip Show styles
**********************************************/
.trip-main-dark{
  width: 100%;
  background-color: #1c2c3f;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

.trip-main-container-outside-dark{
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
}

.trip-main-box-dark{
  border:  1px solid lightgrey;
  border-radius: 5px;
  background-color: #2b2a2f;
}

.trip-main-box-dark img{
  height: 350px;
  width:  700px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.trip-section-dark{
  background-color: #323232;
  border: 1px solid grey;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.trip-section-dark img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
}

.trip-section-title-dark{
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: arial;
  color: #d8a64c;
}

.trip-itinerary-dark{
  background-color: #323232;
  border: 1px solid grey;
  margin-bottom: 30px;
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 30px;
  height: 327px;
  overflow-y: scroll;
  margin-right: 24%;
}

.trip-ratings-dark{
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #2b2a2f;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.trip-ratings-dark hr{
  border: 1px solid grey;
  width: 100%;
}

.trip-ratings-dark img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 25%;
  overflow: hidden;
  margin-bottom: 10px;
}

.trip-review-btn-dark{
  background-color: #000;
  border-radius: 5px;
  border:  1px solid #fff;
  outline: none;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.trip-review-btn-dark:hover{
  background-color: #504a4a;
}

.trip-review-btn-link-dark{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.trip-review-btn-link-dark:hover{
  color: #fff;
}

/**********************************************
 * Trip add review
**********************************************/
.create-review-trip-form-submit-btn-dark{
  background-color: #000;
  border-radius: 5px;
  border:  1px solid #fff;
  outline: none;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.create-review-trip-form-submit-btn-dark:hover{
  background-color: #504a4a;
}

/**********************************************
 * Survey-results styles
**********************************************/
.main-results-dark{
  background-color: #1c2c3f;
  padding-bottom: 200px;
  padding-top: 50px;
  color: white;
}

.results-filter-container-dark{
  width: 100%;
  height: 300px;
  background-color: #323232;
  border-radius: 20px;
}

.results-filter-container-dark hr{
  border: 1px solid grey;
  width: 90%;
  margin: auto;
}

.results-filter-container-title-dark{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #d8a64c;
  text-align: center;
}

.results-filter-container-description-dark{
  padding-top: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.results-survey-btn-dark{
  background-color: #2a2c3b;
  border-radius: 5px;
  border:  1px solid white;
  outline: none;
  width: 300px;
  margin: 10px auto;
  text-align: center;
}

.results-survey-btn-dark:hover{
  background-color: #504a4a;
}


.recomendations-results-box-dark{
  border:  1px solid lightgrey;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
  background-color: #2b2a2f;
}

.recomendations-results-box-dark img{
  height: 250px;
  width:  100%;
  padding-top: 10px;
}

.recomendations-results-box-dark hr{
  border: 1px solid lightgrey;
}

/**********************************************
 * poll styles
**********************************************/
.main-preferences-poll{
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: none;
  overflow: scroll;

  /*Estilos segun navegador */
  -webkit-background-size: cover;
  /*-webkit-filter: blur(10px);
  -moz-filter: blur(10px);*/
}

.main-preferences-poll-img-dark{
  background-image: url(local/landscape4.jpeg);
}

.preferences-poll-title-dark{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 2%;
  font-family: monospace;
  margin-bottom: 100px;
  -webkit-text-stroke: 2px #8f55d1;
}

.preferences-poll-container-dark{
  margin-left: 120px;
  margin-bottom: 100px;
  width: 350px;
  height: 350px;
  background: rgba(0,0,0,0.9);
  border-radius: 20px;
  border: 1px solid white;
}

.preferences-poll-container-dark hr{
  border: 1px solid white;
  width: 90%;
  margin-left: 20px;
}

.preferences-poll-container-title-dark{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.preferences-poll-container-dark img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: transparents;
}

.preferences-poll-container-options-dark{
  padding-left: 50px;
  font-size: 20px;
}

.preferences-poll-container-options-dark input{
  margin-right: 20px;
}

.preferences-poll-container-options-dark label{
  margin-bottom: 10px;
  color: lightgrey;
}

.preferences-poll-submit-btn-dark{
  height: 50px;
  color: #fff;
  font-size: 20px;
  background: #8f55d1;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid white;
}

.preferences-poll-submit-btn-dark:hover{
  background-color: #b995e2;
}

/**********************************************
 * User profile styles
**********************************************/
.main-profile-dark{
  background-color: #3d4555;
  padding-bottom: 100px;
  padding-top: 20px;
  color: white;
}

.profile-user-container-dark{
  background-color: #323232;
  margin-top: 20px;
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 50px;
}

.profile-user-container-dark img{
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-section-title-dark{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #6e9bd5;
  -webkit-text-stroke: 1px white;
}

.profile-contact-container-dark{
  background-color: #323232;
  margin-top: 20px;
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.profile-contact-container-dark hr{
  border: 1px solid white;
  width: 90%;
  margin-left: 20px;
}

.profile-sections-container-dark{
  background-color: #323232;
  margin-top: 20px;
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 632px;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

.profile-section-form-title-dark{
  font-size: 20px;
  font-weight: bold;
  color: #6e9bd5;
  text-align: center;
  -webkit-text-stroke: 1px white;
}

.profile-section-form-container-dark{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #6e9bd5;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  background-color: #686767;
}

/**********************************************
 * About styles
**********************************************/
.main-about-container-dark{
  background-color: #1c2c3f;
  padding-bottom: 50px;
  color: #ffffff;
}

.main-about-dark{
  padding-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  text-align: justify;
}

.main-about-dark h1{
  font-size: 40px;
  margin-bottom: 20px;
  color: #d8a64c;
}

/**********************************************
 * Navigation bar styles
**********************************************/
.navigation-routes-dark {
  padding: 15px 0;
  background-color: #deecf2;
  min-height: 40px;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 5%;
  margin-bottom: 30px;
}

.navigation-routes-dark ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.navigation-routes-dark ol li + li {
  padding-left: 10px;
}

.navigation-routes-dark ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}