/**********************************************
 * Main page styles
**********************************************/

/* -----------------------------------------*/
/* Denied access error                      */
/* -----------------------------------------*/
.bd-callout-info {
  padding: auto;
  margin: auto;
  width: 70%;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-color: red;
  border-left-width: 1px;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.error{
  color: red;
  font-size: 50px;
}

.error-info{
  font-size: 25px;
}


/**********************************************
 * Sign-up and login forms
**********************************************/

.registration-form{
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: none;

  /*Estilos segun navegador */
  -webkit-background-size: cover;
  /*-webkit-filter: blur(10px);
  -moz-filter: blur(10px);*/
}

.registration-form-img{
  background-image: url(local/landscape1.jpeg);
}

.login-form-img{
  background-image: url(local/travelling.jpg);
}

.registration-form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  padding: 80px 40px;
  background: rgba(0,0,0,0.6);
  border-radius: 15px;

  /*Estilos segun navegador */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.login-form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 550px;
  padding: 80px 40px;
  background: rgba(0,0,0,0.6);
  border-radius: 15px;

  /*Estilos segun navegador */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.registration-avatar{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  top: calc(-80px/2);
  left: calc(50% - 40px);
}

.registration-form h2{
  margin: 0;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.registration-form-label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.registration-form-input{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 35px;
  color: #fff;
  font-size: 15px;
}

.registration-form-submit-btn{
  margin-top: 15%;
  height: 40px;
  color: #fff;
  font-size: 15px;
  background: #6e9bd5;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
}

.login-form-submit-btn{
  height: 40px;
  color: #fff;
  font-size: 15px;
  background: #6e9bd5;
  padding-top: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
}

.login-form-advise{
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.login-registration-link{
  color: #fff;
  font-size: 15px;
  margin-left: 40%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.login-registration-link:hover{
  color: #fff;
}

/**********************************************
 * Landing styles
**********************************************/

.main-landing{
  background-color: #F5F4F5;
  padding-bottom: 100px;
}

.landing-title-container{
  width: 100%;
  height: 500px;
  background-color: #2b2a2f;

  /*img*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url(local/landscape2.jpeg);
  filter: none;

  /*Estilos segun navegador */
  -webkit-background-size: cover;
  /*-webkit-filter: blur(10px);
  -moz-filter: blur(10px);*/
}

.landing-title{
  text-align: center;
  padding-top: 30px;
  font-size: 80px;
  font-family: monospace;
  color:  #fff;
}

.landing-description{
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  font-family: monospace;
  color:  #fff;
  padding-bottom: 70px;
}

.landing-steps{
  padding-top: 60px;
  font-size: 20px;
  font-family: monospace;
  color:  #fff;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.6);
  overflow: hidden;
}

.landing-steps-col{
  margin-left: 50px;
}

.landing-steps i{
  font-size: 45px;
  margin-right: 20px;
  float: left;
  border-radius: 50%;
  border: 1px solid grey;
  color: #2b2a2f;
  background-color: #fff;
  padding: 15px;
}

.landing-results{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
}

.landing-results-info{
  font-size: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.landing-results-info-text{
  flex: 1 1 auto;
  margin-left: 12%;
}

.landing-results-info-btn{
  flex: 0 0 auto;
  margin-right: 12%;
  background-color: #fff;
  border-radius: 3px;
  border:  1px solid black;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-results-info-btn:hover{
  background-color: #d7d2d1;
}

.landing-results-info-btn-link{
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.landing-results-info-btn-link:hover{
  color: black;
}

.landing-results-recomendations{
  margin-top: 10px;
}

.landing-results-recomendations-box{
  border:  1px solid lightgrey;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 5%;
  background-color: #fff;
}

.landing-results-recomendations-box img{
  height: 250px;
  width:  100%;
  padding-top: 10px;
}

.landing-results-recomendations-box hr{
  border: 1px solid lightgrey;
}

.landing-results-users-recomendations-box{
  border:  1px solid lightgrey;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 5%;
  background-color: #fff;
  padding-bottom: 20px;
}

.landing-results-users-recomendations-box img{
  margin-top: 30px;
  padding-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.landing-results-users-recomendations-box hr{
  border: 1px solid lightgrey;
}

.result-info{
  font-size: 16 px;
}

.result-info-title{
  text-align: left;
  padding-left: 10px;
}

.result-info-price{
  text-align: right;
  padding-right: 10px;
  color: green;
  font-size: 18px;
  font-weight: bold;
}

.result-info-user{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.result-info-user:hover{
  color: #000;
}

.result-follow-btn{
  background-color: #6e9bd5;
  border-radius: 5px;
  border:  1px solid #fff;
  outline: none;
  text-align: center;
  margin-bottom: 20px;
}

.result-follow-btn-link{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.result-follow-btn-link:hover{
  color: #000;
}


.landing-form-container{
  margin-left: 19%;
  margin-right: 19%;
  border: 1px solid white;
  border-radius: 10px;
  background-image: url(local/vacaciones.jpg);
  width: 63%;
  height: 600px;

  /*img*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: none;

  /*Estilos segun navegador */
  -webkit-background-size: cover;
  /*-webkit-filter: blur(10px);
  -moz-filter: blur(10px);*/
}

.landing-form-section{
  background-color: white;
  margin-top: 250px;
  float: right;
  margin-right: 50px;
  height: 300px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid white;
}

.landing-form-section-info{
  font-size: 16px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-form-info-btn{
  float: right;
  background-color: #2a2c3b;
  border-radius: 5px;
  border:  1px solid #2a2c3b;
  outline: none;
  margin-right: 15px;
  margin-top: 50px;
}

.landing-form-info-btn-link{
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-form-info-btn-link:hover{
  color: white;
}




/**********************************************
 * Footer styles
**********************************************/
.footer{
  height: 100px;
  background-color: black;
  text-align: center;
  color: white;
  overflow: hidden;
}



/**********************************************
 * Trips styles
**********************************************/
.trips-title-container{
  width: 100%;
  height: 200px;
  background-color: #2b2a2f;

  /*img*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(local/landscape3.jpg);
  filter: none;

  /*Estilos segun navegador */
  -webkit-background-size: cover;
  /*-webkit-filter: blur(10px);
  -moz-filter: blur(10px);*/
}

.trips-title-help-container{
  background-color: white;
  margin-top: 50px;
  float: right;
  margin-right: 35%;
  height: 100px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid white;
}

.trips-title-help-container-info{
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
}

.trips-title-destinations{
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 350px;
  height: 40px;
  cursor: auto;
}

.trips-destination-search{
  background-color: #de2a35;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  height: 40px;
  text-align: center;
}

.trips-main{
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 50px;
}

.trips-sidebar-container{
  background-color: white;
  width: 350px;
  border-radius: 5px;
  margin-top: 0%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
}

.trips-sidebar-title{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.trips-sidebar-container hr{
  border: 1px solid lightgrey;
  width: 100%;
}

.trips-sidebar-section-title{
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.trips-sidebar-section{
  font-size: 16px;
  margin-top: 20px;
}

.trips-sidebar-section-options{
  font-size: 16px;
}

.trips-sidebar-section input{
  margin-left: 20px;
}

.trips-sidebar-section label{
  margin-left: 10px;
  margin-bottom: 10px;
}

.sidebar-prices{
  width: 50%;
}

.sidebar-submit{
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.trips-search-count{
  font-size: 20px;
  margin-top: 10px;
}

.trips-results-box{
  border:  1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
}

.trips-results-box img{
  height: 200px;
  width:  200px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.trips-results-box-title{
  font-size: 22px;
  padding-top: 20px;
  font-family: arial;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.trips-results-box-title:hover{
  color: #000;
}

.trips-results-box-info{
  font-size: 20px;
  color: grey;
  font-family: arial;
  text-decoration: none;
}

.trips-results-box-price{
  font-size: 22px;
  color: green;
  text-align: right;
  padding-top: 120px;
  padding-right: 25px;
}

.trips-results-booking{
  background-color: #5fde23;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  height: 40px;
  text-align: center;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

/**********************************************
 * Trip styles
**********************************************/
.trip-main{
  width: 100%;
  background-color: #F5F4F5;
  padding-top: 50px;
  padding-bottom: 100px;
}

.trip-main-container-outside{
  margin-left: 15%;
  margin-right: 15%;
  background-color: #2b2a2f;
}

.trip-main-container{
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-right: 50px;
}

.trip-main-box{
  border:  1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
}

.trip-main-box img{
  height: 350px;
  width:  700px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.trip-main-box-title{
  font-size: 35px;
  font-family: arial;
  font-weight: bold;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

.trip-main-box-subtitle{
  font-size: 25px;
  font-family: arial;
  font-weight: bold;
  margin-left: 20px;
  padding-right: 10px;
  color: grey;
}

.trip-main-box-info{
  font-size: 22px;
  color: grey;
  margin-left: 20px;
  padding-right: 10px;
}

.trip-main-box-price-container{
  padding-top: 150px;
  padding-right: 20px;
}

.trip-price-info{
  font-size: 20px;
  color: grey;
  margin-left: 20px;
}

.trip-price-colored{
  font-size: 23px;
  color: #5fde23;;
}

.trip-booking-box{
  background-color: #5fde23;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 5px;
}

.trip-description{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  font-size: 16px;
  margin-bottom: 50px;
}

.trip-about{
  margin-left: 15%;
  margin-top: 50px;
}

.trip-about hr{
  border: 1px solid grey;
  width: 100%;
}

.trip-section{
  background-color: white;
  border: 1px solid grey;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.trip-section img{
  width: 50px;
  height: 50px;
  border-radius: 25%;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
}

.trip-section-title{
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: arial;
  color: grey;
}

.trip-section-description{
  font-size: 16px;
  font-family: arial;
  color: grey;
}

.trip-section-info{
  font-size: 16px;
}

.trip-itinerary{
  background-color: white;
  border: 1px solid grey;
  margin-bottom: 30px;
  margin-left: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.trip-ratings{
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.trip-ratings hr{
  border: 1px solid grey;
  width: 100%;
}

.trip-ratings img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 25%;
  overflow: hidden;
  margin-bottom: 10px;
}

.trip-section-review{
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.trip-section-review-date{
  color: lightgrey;
  margin-left: 50px;
}

.trip-section-review-comment-container{
  margin-right: 10%;
}

.trip-review-btn{
  background-color: #F5F4F5;
  border-radius: 5px;
  border:  1px solid #000;
  outline: none;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.trip-review-btn-link{
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.trip-review-btn-link:hover{
  color: #000;
}



/**********************************************
 * poll styles
**********************************************/
.main-preferences-poll{
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: none;
  overflow: scroll;

  /*Estilos segun navegador */
  -webkit-background-size: cover;
  /*-webkit-filter: blur(10px);
  -moz-filter: blur(10px);*/
}

.main-preferences-poll-img{
  background-image: url(local/landscape4.jpeg);
}

.preferences-poll-title{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 5%;
  font-family: monospace;
  margin-bottom: 100px;
}

.preferences-poll-container{
  margin-left: 120px;
  margin-bottom: 100px;
  width: 400px;
  height: 400px;
  background: rgba(0,0,0,0.8);
  border-radius: 20px;
}

.preferences-poll-container hr{
  border: 1px solid white;
  width: 90%;
  margin-left: 20px;
}

.preferences-poll-container-title{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.preferences-poll-container img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: transparents;
}

.preferences-poll-container-options{
  padding-left: 50px;
  font-size: 20px;
}

.preferences-poll-container-options input{
  margin-right: 20px;
}

.preferences-poll-container-options label{
  margin-bottom: 10px;
  color: lightgrey;
}

.preferences-poll-options{
  margin-bottom: 100px;
}

.preferences-poll-back-btn{
  height: 50px;
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
  background-color: grey;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
  margin-right: 50px;
}

.preferences-poll-back-link{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.preferences-poll-back-link:hover{
  color: #fff;
}

.preferences-poll-submit-btn{
  height: 50px;
  color: #fff;
  font-size: 20px;
  background: blue;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
}

/**********************************************
 * Survey-results styles
**********************************************/
.main-results{
  background-color: #F5F4F5;
  padding-bottom: 350px;
  padding-top: 100px;
}

.results-filters{
  margin-left: 25%;
  margin-right: 25%;
}

.results-filter-container{
  width: 1000px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
}

.results-filter-container hr{
  border: 1px solid grey;
  width: 90%;
  margin: auto;
}

.results-filter-container-title{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 30px;
  color: grey;
  text-align: center;
}

.results-size-red{
  font-weight: bold;
  font-size: 30px;
  color: red;
}

.results-size-green{
  font-weight: bold;
  font-size: 30px;
  color: green;
}

.results-filter-container-description{
  padding-top: 20px;
  font-size: 20px;
  color: grey;
  text-align: center;
}

.results-filters{
  font-size: 16px;
}

.results-filters-true{
  color: green;
}

.results-filters-false{
  color: grey;
}

.results-survey-btn{
  background-color: #2a2c3b;
  border-radius: 5px;
  border:  1px solid #2a2c3b;
  outline: none;
  width: 300px;
  margin: 10px auto;
  text-align: center;
}

.results-survey-btn-link{
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.results-survey-btn-link:hover{
  color: white;
}

.results-list-view-container{
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 10%;
}

.results-row{
  margin-top: 20px;
}

.recomendations-results-box{
  border:  1px solid lightgrey;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
  background-color: white;
}

.recomendations-results-box img{
  height: 250px;
  width:  100%;
  padding-top: 10px;
}

.recomendations-results-box hr{
  border: 1px solid lightgrey;
}

/**********************************************
 * User profile styles
**********************************************/
.main-profile{
  background-color: #aab4c6;
  padding-bottom: 350px;
  padding-top: 80px;
}

.main-profile-container{
  margin-left: 15%;
  margin-right: 15%;
}

.profile-user-container{
  background-color: white;
  margin-top: 20px;
  border: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 50px;
}

.profile-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile-user-container img{
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-sections-container{
  background-color: white;
  margin-top: 20px;
  border: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 632px;
  overflow-y: auto;
}

.profile-info{
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.profile-description{
  margin-top: 10px;
  color: grey;
  font-size: 16px;
  text-align: center;
}

.profile-section-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #6e9bd5;
}

.profile-contact-container{
  background-color: white;
  margin-top: 20px;
  border: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 50px;
}

.profile-contact-container hr{
  border: 1px solid grey;
  width: 90%;
  margin-left: 20px;
}

.profile-contact{
  margin-top: 20px;
  font-size: 16px;
  margin-left: 50px;
}

.profile-contact-icon{
  width: 20px;
  height: 20px;
  border-radius: 25%;
  margin-right: 20px;
}

.profile-edit-btn{
  margin-top: 10px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  background-color: #6e9bd5;
  border-radius: 5px;
  border: none;
  outline: none;
}

.profile-edit-btn-link{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.profile-edit-btn-link:hover{
  color: #fff;
}

.profile-followed-btn{
  margin-top: 10px;
  height: 40px;
  color: #000;
  font-size: 15px;
  padding-top: 10px;
  background-color: #eeeded;
  border-radius: 5px;
  border: none;
  outline: none;
}

.profile-followed-btn-link{
  color: #000;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.profile-unfollow-btn{
  margin-top: 10px;
  height: 40px;
  color: #000;
  font-size: 15px;
  padding-top: 10px;
  background-color: #eb7878;
  border-radius: 5px;
  border: none;
  outline: none;
}

.profile-option-btn{
  margin-top: 10px;
  height: 40px;
  color: #000;
  font-size: 15px;
  padding-top: 10px;
  background-color: #eeeded;
  border-radius: 1px;
  border-right: 2px solid #fff;
  outline: none;
  cursor: pointer;
}

.profile-selected-option-btn{
  margin-top: 10px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  background-color: #6e9bd5;
  border-radius: 1px;
  border-right: 1px solid #fff;
  outline: none;
  cursor: pointer;
}

.profile-btn-text{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-section{
  margin-top: 20px;
}

.profile-section hr{
  border: 1px solid grey;
  width: 90%;
  margin-left: 20px;
}

.profile-section-results{
  font-size: 16px;
}

.profile-section-results-red{
  font-weight: bold;
  color: red;
}

.profile-section-results-green{
  font-weight: bold;
  color: green;
}

.profile-section-table{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-collapse: collapse;
  font-size: 0.9em;
}

.profile-section-table thead tr{
  background-color: #c4d6ed;
  color: #6e9bd5;
  text-align: center;
}

.profile-section-table th, td{
  padding: 12px 15px;
  text-align: unset;
}

.profile-section-table img{
  width: 50px;
  height: 50px;
  border-radius: 25%;
  margin-right: 20px;
  overflow: hidden;
}

.profile-section-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/**********************************************
 * Adding trips by users styles
**********************************************/
.create-edit-trip{
  background: linear-gradient(45deg,#91fb63,#a9f7ae);
  padding-bottom: 350px;
  padding-top: 10px;
}

.create-edit-trip-box{
  margin-left: 25%;
  margin-right: 25%;
  padding: 40px 40px;
  margin-top: 2%;
  background-color: white;
  border-radius: 25px;
}

.create-edit-trip-title{
  color: #91fb63;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.create-edit-trip-form-label{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.create-edit-trip-form-input{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
}

.create-edit-trip-form-description{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 20px;
}

.create-edit-trip-form-input-short{
  width: 20%;
  border: 1px solid black;
  background: transparent;
  outline: none;
}

.create-edit-trip-btns{
  margin-top: 2%;
  margin-bottom: 2%;
}

.create-edit-trip-form-submit-btn{
  height: 40px;
  color: #fff;
  font-size: 15px;
  background: #a9f7ae;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: bold;
  width: 100%;
  margin-bottom: 2%;
}

.create-edit-trip-form-cancel-btn{
  height: 40px;
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  background-color: grey;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 2%;
}

.create-edit-trip-form-cancel-link{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
}

.create-edit-trip-form-cancel-link:hover{
  color: #fff;
}

.create-edit-trip-form-select{
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
}

.create-edit-trip-form-select select{
  width: 200px;
  background: #f6f3f3;
  border-radius: 3px;
  border: 2px solid #b5b3b3;
  padding: 0 10px;
  cursor: pointer;
  margin-top: 5px;
  appearance: none;
}

.create-edit-trip-form-select::after{
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 2px;
}

.create-edit-trip-form-section-title{
  font-size: 22px;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 5%;
}

.create-edit-trip-form-section-option{
  font-size: 16px;
  font-weight: bold;
  color: lightgrey;
  margin-bottom: 2%;
}

.create-edit-trip-form-checkbox{
  margin-bottom: 20px;
  background: transparent;
  background-color: #eee;
  margin-left: 6%;
}

/**********************************************
 * Landing user add trip container styles
**********************************************/

.landing-user-trip-container{
  margin-left: 19%;
  margin-right: 19%;
  border: 1px solid white;
  margin-top: 30px;
  border-radius: 10px;
  width: 63%;
  height: 270px;
  background: linear-gradient(to right bottom,#91fb63,#a9f7ae);
}

.landing-user-trip-container img{
  margin-top: 30px;
  height: 210px;
  width: 95%;
  margin-left: 20px;
}

.landing-user-trip-description-container{
  margin-top: 30px;
  margin-left: 100px;
  height: 210px;
  background-color: #fff;
  margin-right: 50px;
}

.landing-user-trip-title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 1%;
  padding-left: 3%;
  color: #91fb63;
}

.landing-user-trip-description-text{
  font-size: 20px;
  color: lightgrey;
  padding-top: 5px;
  padding-left: 3%;
  padding-right: 3%;
}

.landing-user-trip-btn{
  float: right;
  background-color: #91fb63;
  border-radius: 5px;
  border:  1px solid #91fb63;
  outline: none;
  margin-right: 15px;
  margin-top: 0px;
}

.landing-user-trip-btn-link{
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-user-trip-btn-link:hover{
  color: white;
}

/**********************************************
 * Landing user opinion survey container styles
**********************************************/
.landing-user-survey-container{
  margin-left: 19%;
  margin-right: 19%;
  border: 1px solid white;
  border-radius: 10px;
  width: 63%;
  height: 270px;
  background: linear-gradient(to right bottom,#7239fb,#baa0f7);
  margin-bottom: 5%;
}

.landing-user-survey-container img{
  margin-top: 30px;
  height: 210px;
  width: 95%;
  padding-right: 20px;
}

.landing-user-survey-description-container{
  margin-top: 30px;
  margin-left: 20px;
  height: 210px;
  background-color: #fff;
  margin-right: 100px;
}

.landing-user-survey-title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 1%;
  padding-left: 3%;
  color: #7239fb;
}

.landing-user-survey-description-text{
  font-size: 20px;
  color: lightgrey;
  padding-top: 5px;
  padding-left: 3%;
  padding-right: 3%;
}

.landing-user-survey-btn{
  float: right;
  background-color: #7239fb;
  border-radius: 5px;
  border:  1px solid #7239fb;
  outline: none;
  margin-right: 15px;
  margin-top: 0px;
}

.landing-user-survey-btn-link{
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-user-survey-btn-link:hover{
  color: white;
}

.landing-user-survey-form-container{
  margin-left: 19%;
  margin-right: 19%;
  border: 1px solid white;
  border-radius: 10px;
  width: 63%;
  background: linear-gradient(to right bottom,#7239fb,#baa0f7);
  margin-bottom: 5%;
}

.landing-user-survey-form-container img{
  margin-top: 30px;
  height: 210px;
  width: 95%;
  padding-right: 20px;
}

.landing-user-survey-form-description-container{
  margin-top: 30px;
  margin-left: 50px;
  background-color: #fff;
  margin-right: 50px;
  margin-bottom: 20px;
}

.landing-user-survey-form-title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 1%;
  text-align: center;
  color: #7239fb;
}

.landing-user-survey-form-description-container hr{
  border: 1px solid #7239fb;
  width: 90%;
  margin-left: 5%;
}

.landing-user-survey-form-step{
  color: #7239fb;
}

.landing-user-survey-form-comment-area{
  width: 100%;
  height: 70px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-left: 20px;
}

.landing-user-survey-form-btns{
  margin-top: 1%;
  margin-bottom: 2%;
}

.landing-user-survey-form-submit-btn{
  background-color: #7239fb;
  border-radius: 5px;
  border:  1px solid #7239fb;
  outline: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}

/**********************************************
 * Trip add review
**********************************************/

.create-review-trip-form-label{
  margin-left: 20px;
  padding: 0;
  font-weight: bold;
}

.create-review-trip-form-description{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 20px;
  margin-left: 20px;
}

.create-review-trip-form-input-short{
  width: 10%;
  border: 1px solid black;
  background: transparent;
  outline: none;
}

.create-review-trip-btns{
  margin-top: 2%;
  margin-bottom: 2%;
}

.create-review-trip-form-submit-btn{
  background-color: #F5F4F5;
  border-radius: 5px;
  border:  1px solid #000;
  outline: none;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}