<div class="form-row">
  <div class="col-md-6 col-12 mb-3">
    <div>
      <%= f.label :title, style: "display: block" %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="col-md-6 col-12 mb-3">
    <div>
      <%= f.label :body, style: "display: block" %>
      <%= f.text_area :body %>
    </div>
  </div>
</div>
