<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this trip", edit_admin_trip_path(@trip) %> |
  <%= link_to "Back to trips", admin_trips_path %>

  <%= button_to "Destroy this trip", @trip, method: :delete %>
</div>
