<div class="row justify-content-center">
  <div class="col-7 mb-3">
    <label class="create-edit-trip-form-select">
      <text style="margin-right: 20px;">¿Dónde realizaste tu viaje?</text>
      <%= f.select(:destination, ["Rutas Ibéricas", "Europa", "América", "Asia", "África"]) %>
    </label>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-7 mb-3">
    <label class="create-edit-trip-form-select">
      <text style="margin-right: 20px;">¿Cúantos días duró tu viaje?</text>
      <%= f.select(:duration, ["Menos de 3 días", "Entre 3 y 5 días", "Entre 5 y 7 días", "Más de una semana"]) %>
    </label>
  </div>
</div>
