<div class="main-survey main-survey-img">
	<div class="survey-title">
		<p>Ayúdanos a encontrar tu viaje ideal</p>
	</div>

	<div class="row">
		<div class="col col-lg-3 survey-container">
			Prueba 1
		</div>

		<div class="col col-lg-3 survey-container">
			Prueba 2
		</div>

		<div class="col col-lg-3 survey-container">
			Prueba 3
		</div>
	</div>

	<div class="row">
		<div class="col col-lg-3 survey-container">
			Prueba 4
		</div>

		<div class="col col-lg-3 survey-container">
			Prueba 5
		</div>

		<div class="col col-lg-3 survey-container">
			Prueba 6
		</div>
	</div>

</div>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>