<%= render "layouts/sidebar" %>
<section>
	<% if current_user and current_user.admin? %>
		<div class="container-fluid admin-main"> 
			<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
			    <h3 class="fst-italic"><center>Interfaz de administrador</center></h3>
			</div>
		</div>
	<% else %>
		<%= render "layouts/error" %>
	<% end %>
</section>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "admin" %>
<% end %>