<%= render "layouts/header" %>
<div class="main-landing">
	<div class="landing-title-container">
		<div class="landing-title">
			Zytrip
		</div>
	</div>
</div>
<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>