<%= render "layouts/header" %>
<div class="main-landing">
	<div class="landing-title-container">
		<div class="landing-title">
			Zytrip
		</div>
		<div class="landing-description">
			Encuentra el viaje que estás buscando
		</div>
		<div class="landing-steps">
			<div class="row justify-content-md-center">
				<div class="col col-lg-3 landing-steps-col">
					<i class="fas fa-list"></i>
					<p> 1. Puedes elegir tu viaje entre una gran selección de destinos posibles
					</p>
				</div>

				<div class="col col-lg-3 landing-steps-col">
					<i class="fas fa-plane"></i>
					<p> 2. Tendrás a tu disposición una lista de los viajes más populares y recomendados
					</p>
				</div>

				<div class="col col-lg-3 landing-steps-col">
					<i class="fas fa-wrench"></i>
					3. Te ofrecemos una herramienta para encontrar tu viaje ideal
				</div>
			</div>
		</div>

	</div>
</div>
<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>