<%= render "layouts/header" %>
<div class="main-landing">
    <div class="trips-title-container">
        <div class="trips-title-help-container">
            <div class="trips-title-help-container-info">
                <b>¿Tienes algún lugar en mente?</b>
            </div>
        </div>
    </div>
</div>


<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>